*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-size: 10px;
  font-weight: 400;
  font-family: sen, arial, sans-serif;
  text-rendering: optimizeLegibility;
}

.login-page{
  background-image: linear-gradient(rgba(0,0,0,0.534), rgba(0,0,0,0.534)), url(butikstrøyer.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
}


.form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255,255,255,0.364);
  padding: 20px 25px;
  border-radius: 5px;
}

.form h2{
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 14px; 
}

.form label{
  font-size: 10px;
  font-weight: 600;
  display: block;
  margin: 4px 0;

}

.form input{
  padding: 10px 15px;
  border-radius: 5px;
  margin: 4px 0;
}

